# unneeded information for user/results of us running test
**/Makefile
Unet_research/augmented_data*/**
Unet_research/results*/
Unet_research/**/*.ipynb
Unet_research/**/!test.ipynb
**/*.zip
**/*.sh
**/!requirements.sh
*.o*
Unet_research/lightning_logs
Unet_research/lightning_logs/**



# extra files
*.ipynb_checkpoints
**/.DS_Store
**/__pycache__/**
*.pyc

# images for report
images/
