# unneeded information for user/results of us running test
**/makefile
Unet_research/augmented_data*/**
Unet_research/results*/
Unet_research/**/*.ipynb
**/*.zip
**/*.sh
**/!requirements.sh
*.o*

# extra files
*.ipynb_checkpoints
**/.DS_Store
**/__pycache__/**
*.pyc

# images for report
images/
